html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin: 3rem auto;
  justify-content: space-between;
}
.card {
  width: 30%;
  height: 45rem;
  margin: 30px auto;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  text-align: center;
  background-color: orange;
  border: 0.5rem solid red;
  box-shadow: 1rem 1rem 1rem grey;
}
.card-img {
  width: 45rem;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  margin-top: 5.5rem;
}
.title {
  text-align: center;
  color: black;
  font-size: 6rem;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  font-family: garamond;
}
.card-title {
  font-size: 2.5rem;
}
.card-text {
  font-size: 2rem;
  margin-top: 1.5rem;
}
#curious {
  width: 45rem;
  object-fit: cover;
  max-width: 100%;
  max-height: 80%;
}
