body {
  background-image: url(https://wallpaperaccess.com/full/87540.jpg);
  background-repeat: no-repeat;
}
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
}
