html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.gallery{
  display:flex;
  flex-wrap:wrap;
  width: 90vw;
  margin: 3rem auto;
  justify-content: space-between;
}
.gallery-card {
  width: 27%;
  background-color: red;
  height: 30rem;
  margin: 30px auto;

}